<h1>These are all of our gardens!</h1>

<%  @gardens.each do |garden| %>
    <%= link_to garden.name, "/gardens/#{garden.id}" %>
    <br>
<% end %>
<br>
<hr>
<br>
<%= link_to "Create a Garden", '/gardens/new' %>