<h1>These are all of our gardens!</h1>
<hr>
<ul>
<%  @gardens.each do |garden| %>
    <li><%= link_to garden.name, "/gardens/#{garden.id}" %></li>
    <br>
<% end %>
</ul>
<br>
<hr>
☞ <%= link_to "Create a New Garden", '/gardens/new' %>